@import url('https://fonts.googleapis.com/css2?family=Kavivanar&display=swap');

html, body {
    height: 100%;
    margin: 0;
    font-family: "Kavivanar", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gradient {
    background: linear-gradient(to top, #ffc1cb, #7a4d59);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 10px;
    color:#fbb1bd;
}

.scnd-btn {
    padding: 10px;
    font-size: 15px;
    color: #85182a;
    text-decoration: none;
}

.scnd-btn:visited,
.scnd-btn:active,
.scnd-btn:focus {
    color: #250902;
    text-decoration: none;
    outline: none;
}

p {
    font-size: 18px;
    color: #25000a;
}

h6 {
    font-size: 20px;
    color: #85182a;
    text-align: center;
    margin: 0px;
}